extends ./layout/index

block contenido
    main(class="container mt-5")
        div(class="row")
            div(class="col-md-5")
                img(src="img/nosotros.jpg" alt="Imagen Nosotros" class="img-fluid")
            div(class="col-md-7")
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sit amet risus vel purus lacinia aliquam vel eget neque. Pellentesque scelerisque consectetur consequat. Nunc bibendum feugiat scelerisque. Nunc consequat iaculis velit eu accumsan. Nam et sodales nunc. Donec ut scelerisque ligula, egestas finibus lectus. Cras volutpat hendrerit neque, eget scelerisque neque semper in. Sed sit amet euismod sem, non egestas neque.

                p Suspendisse semper, libero ut porta pretium, nulla leo vestibulum velit, vel placerat velit velit vel sem. Sed faucibus ac libero at consequat. Quisque sagittis placerat dolor, a sodales lectus dictum ut. Ut imperdiet mauris tortor. Nunc pulvinar fringilla quam, nec vestibulum libero ullamcorper eget. Praesent id imperdiet arcu, at lacinia magna. Pellentesque mollis sed ante nec dictum. Nullam ultrices massa at vehicula accumsan. Vestibulum nec varius tellus.

                p Phasellus vitae semper nunc. In consectetur velit nec bibendum hendrerit. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis ultricies, molestie justo sit amet, tempor risus. Morbi nec tortor lorem. Aliquam sodales euismod tempor. Suspendisse potenti. Quisque ac condimentum justo. Proin in accumsan erat, id porta dolor. Maecenas laoreet, turpis nec accumsan efficitur, felis justo tempus eros, non fermentum tellus dui at nibh. Donec ultrices dui enim, nec ultrices metus pellentesque nec. Integer faucibus augue risus, vitae convallis nisl tempus at.
    div(class="listado-iconos")
        div(class="container mt-5 py-5 text-center")
            div(class="row")     
                div(class="col-md-4")    
                    img(src="img/icono_seguridad.svg", class="img-fluid mb-4") 
                    h2(class="mb-4") Seguridad 
                    p Phasellus vitae semper nunc. In consectetur velit nec bibendum hendrerit. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis ultricies

                div(class="col-md-4")    
                    img(src="img/icono_destinos.svg", class="img-fluid mb-4") 
                    h2(class="mb-4") Mejores destinos 
                    p Phasellus vitae semper nunc. In consectetur velit nec bibendum hendrerit. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis ultricies

                div(class="col-md-4")    
                    img(src="img/icono_precio.svg", class="img-fluid mb-4") 
                    h2(class="mb-4") Los mejores precios 
                    p Phasellus vitae semper nunc. In consectetur velit nec bibendum hendrerit. Nulla facilisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel turpis ultricies
